<article class="card">
  <a href="<%- link %>">
    <div class="card__header">
      <figure class="card__figure">
        <img src="<%- img %>" alt="">
      </figure>
     </div><!-- /.card__header -->
     <div class="card__body">
       <div class="card__meta">
         <div class="card__category"><%- category %></div><!-- /.card__category -->
         <time class="card__time" datetime=""><%- time %></time>
       </div><!-- /.card__meta -->
        <h3 class="card__title"><%- title %></h3>
      </div><!-- /.card__body -->
     </a>
  </article>