<article class="case-item">
  
  <div class="case-item__header">
    <h2 class="case-item__title">
      <span><%- titleSmall %></span>
      <span><%- titleMain %></span>
      <span>様</span>
    </h2l><!-- /.case-item__title -->
     <div class="case-item__img">
       <img src="<%- img %>" alt="<%- alt %>">
     </div><!-- /.case-item__img -->
  </div><!-- /.case-item__header -->

  <div class="case-item__body">
    <div class="case-item__body-head">
      <div class="case-item__corse"><%- corse %></div><!-- /.case-item__corse -->
      <div class="case-item__category"><%- category %></div><!-- /.case-item__category -->
    </div><!-- /.case-item__body-head -->
    <h3 class="case-item__subtitle"><%- subTitle1 %></h3><!-- /.case-item__subtitle -->
     <p class="case-item__text"><%- text1 %></p><!-- /.case-item__text -->
    <h3 class="case-item__subtitle"><%- subTitle2 %></h3><!-- /.case-item__subtitle -->
     <p class="case-item__text"><%- text2 %></p><!-- /.case-item__text -->
    <h3 class="case-item__subtitle"><%- subTitle3 %></h3><!-- /.case-item__subtitle -->
     <p class="case-item__text"><%- text3 %></p><!-- /.case-item__text -->
  </div><!-- /.case-item__body -->
   
</article>