<% 
const staffLists=[
  {
    img:"./images/common/sub-about-staff1.jpg " ,
    alt:"波瑠 慶太の写真 " ,
    position:"代表取締役社長 " ,
    name:" 波瑠 慶太" ,
    text:"20年間外資系企業に勤務し、世界17カ国でビジネスを展開。<br> 様々な文化に触れ、コミュニケーションスキルを磨き、同時にその必要性を実感する。<br>自身も講師を務め、実体験から得られた知見を皆様に還元し、グローバルなビジネス展開をサポートいたします。 " ,
    twitter:" " ,
    facebook:" " ,
    instagram:" ジャック・スミス" ,
  },
  {
    img:"./images/common/sub-about-staff2.jpg " ,
    alt:"ジャック・スミスの写真 " ,
    position:"取締役 " ,
    name:" ジャック・スミス" ,
    text:"オーストラリア出身。<br>英会話の講師として13年のキャリアがあります。<br>翻訳業務も担当しており、外国映画の日本版DVDの字幕やテレビ番組の英語をヒヤリングなども行なっております。<br>皆様に「より気持ちの伝わる英会話」を習得していただくサポートをいたします。 " ,
    twitter:" " ,
    facebook:" " ,
    instagram:" ジャック・スミス" ,
  },
  {
    img:"./images/common/sub-about-staff3.jpg " ,
    alt:"メアリー・ジャクソンの写真 " ,
    position:"取締役 " ,
    name:" メアリー・ジャクソン" ,
    text:"アメリカ出身。<br>メジャーリーグ球団「ニューヨークヤンキース」の通訳担当として7年間チームに在籍。<br> 数多くの契約交渉の経験を活かし、国際ビジネスにおけるコミュニケーションのマナーから応用までお伝えいたします。 " ,
    twitter:" " ,
    facebook:" " ,
    instagram:" ジャック・スミス" ,
  },
 ] %>


<div class="staff-intro">
  <h2 class="staff-intro__title">役員紹介</h2><!-- /.staff-intro__title -->
  <div class="staff-intro__items">
    <% for (var staffList of staffLists) {%>
     <article class="staff-intro__item" >
      <div class="staff-intro__header">
        <figure class="staff-intro__figure">
          <img src="<%- staffList.img %>" alt="<%- staffList.alt %>" >
        </figure>
      </div><!-- /.staff-intro__header -->
      <div class="staff-intro__block">
        <div class="staff-intro__body">
          <p class="staff-intro__position"><%- staffList.position %></h3>
            <p class="staff-intro__name"><%- staffList.name %></p>
        <p class="staff-intro__text text-main"><%- staffList.text %></p><!-- /.staff-intro__text text-main -->
      </div><!-- /.staff-intro__body -->
      <div class="staff-intro__footer">
        <div class="staff-intro__sns">
          <a href="<%- staffList.twitter %>">
            <img src="../images/common/twitter.svg" alt="twitter">
          </a>
        </div><!-- /.staff-intro__twitter -->
        <div class="staff-intro__sns">
          <a href="<%- staffList.facebook %>">
            <img src="../images/common/facebook.svg" alt="twitter">
          </a>
        </div><!-- /.staff-intro__twitter -->
        <div class="staff-intro__sns">
          <a href="<%- staffList.instagram %>">
            <img src="../images/common/instagram.svg" alt="twitter">
          </a>
        </div><!-- /.staff-intro__twitter -->
      </div><!-- /.staff-intro__footer -->
    </div><!-- /.staff-intro__block -->
     </article>
     <% } %>
  </div><!-- /.staff-intro__items -->
</div><!-- /.staff-intro -->