<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
  <!-- ヘッダー -->
  <%- include('./common/_header') %>
  
  <!-- MV -->
  <%- include('./parts/_top-mv') %>
  

  <!-- about -->
  <section class="top-about top-about-layout">
    <div class="inner">
      <div class="top-about__flex ">
        <div class="top-about__title">
          <%- include('./parts/_section-title',{title:'about us',text:'当社について'}) %>
        </div><!-- /.top-about__title -->
      <div class="top-about__link">
        <%- include('./parts/_view-more',{text:'View more',link:'#'}) %>
      </div><!-- /.top-about__link -->
      <div class="top-about__body">
        <%- include('./parts/_about-block') %>
      </div><!-- /.top-about__body -->
    </div><!-- /.top-about__flex -->
    </div><!-- /.inner -->
  </section><!-- /.top-about -->

  
   <!-- service -->
   <section class="top-service top-service-layout">
    <div class="inner">
      <div class="top-service__flex ">
        <div class="top-service__title">
          <%- include('./parts/_section-title',{title:'service',text:'サービス'}) %>
        </div><!-- /.top-service__title -->
      <div class="top-service__link">
        <%- include('./parts/_view-more--black',{text:'View more',link:'#'}) %>
      </div><!-- /.top-service__link -->
      <div class="top-service__body">
        <%- include('./parts/_service-block') %>
      </div><!-- /.top-service__body -->
    </div><!-- /.top-service__flex -->
    </div><!-- /.inner -->
  </section><!-- /.top-service -->


  <!-- case -->
  <section class="top-case">
    <div class="inner">
      <div class="top-case__flex ">
        <div class="top-case__title">
          <%- include('./parts/_section-title--white',{title:'case study',text:'導入事例'}) %>
        </div><!-- /.top-case__title -->
      <div class="top-case__link">
        <%- include('./parts/_view-more',{text:'View more',link:'#'}) %>
      </div><!-- /.top-case__link -->
      <div class="top-case__body">
        <%- include('./parts/_case-block') %>
      </div><!-- /.top-case__body -->
    </div><!-- /.top-case__flex -->
    </div><!-- /.inner -->
  </section><!-- /.top-case -->


   <!-- news -->
   <section class="top-news">
    <div class="inner">
      <div class="top-news__flex ">
        <div class="top-news__title">
          <%- include('./parts/_section-title',{title:'news',text:'新着情報'}) %>
        </div><!-- /.top-news__title -->
      <div class="top-news__link">
        <%- include('./parts/_view-more--black',{text:'View more',link:'#'}) %>
      </div><!-- /.top-news__link -->
      <div class="top-news__body">
        <%- include('./parts/_news-block') %>
      </div><!-- /.top-news__body -->
    </div><!-- /.top-news__flex -->
    </div><!-- /.inner -->
  </section><!-- /.top-news -->


<!-- ダウンロード・コンタクト -->
<section class="download-contact">
  <%- include('./common/_footer-top') %>
</section><!-- /.download-contact -->

  <!-- フッター -->
  <%- include('./common/_footer') %>
  
  
  </body>
</html>

