<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
  <%# include('./common/_header') %>
  
  <%- include('./parts/_btn',{text:'無料ダウンロード '}) %>
  <%- include('./parts/_btn-blue',{text:'無料ダウンロード '}) %>
  <%- include('./parts/_btn-arrow',{text:'無料ダウンロード '}) %>
  <%- include('./parts/_btn-yellow',{text:'無料ダウンロード '}) %>
  <%- include('./parts/_view-more',{text:'view-more '}) %>
  <%- include('./parts/_view-more--black',{text:'view-more '}) %>
  
 <%- include('./common/_footer') %>
  </body>
</html>

