<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
  <!-- ヘッダー -->
  <%- include('./common/_header') %>
  
  <!-- MV -->
  <%- include('./common/_sub-mv',{
    imgPc:' ./images/common/sub-news-mv.jpg ',
    imgSp:' ./images/common/sub-news-mv-sp.jpg ',
    alt:'サービス画像 ', 
    title:'news ', 
    subtitle:'お知らせ '
  }) %>
  
  <!-- パンくず -->
  <div class="sub-news">
    <div class="inner">
      <div class="sub-about__breadcrumb">
        <%- include('./common/_breadcrumb', {
          navigationList: [
          {
            path: ' index.html ',
            label: 'ホーム'
          },
          {
            path: ' リンクパス ',
            label: 'サービス'
          }
          ]
        }); %>
      </div><!-- /.inner -->
    </div><!-- /.sub-about__breadcrumb -->
      
    <section class="sub-news__top">
     <div class="inner">
       <%- include('./parts/_cards') %>

     </div><!-- /.inner -->
    </section><!-- /.sub-news__top -->

    <aside class="sub-news__aside">
    </aside><!-- /.sub-news__aside -->
   
    
   
   

<!-- ダウンロード・コンタクト -->
<section class="download-contact">
  <%- include('./common/_footer-top') %>
</section><!-- /.download-contact -->

<!-- フッター -->
<%- include('./common/_footer') %>



<div class="margin"></div><!-- /.margin -->
  
  <%- include('./parts/_btn',{text:' ダウンロード', link:'#'}) %>
  <%- include('./parts/_btn-blue',{text:'無料ダウンロード',link:'#'}) %>
  <%- include('./parts/_btn-arrow',{text:'無料ダウンロード',link:'#'}) %>
  <%- include('./parts/_btn-yellow',{text:'無料ダウンロード',link:'#'}) %>
  <%- include('./parts/_view-more',{text:'view-more',link:'#'}) %>
  <%- include('./parts/_view-more--black',{text:'view-more',link:'#'}) %>
  <%- include('./parts/_section-title',{title:'about us',text:'私たちについて'}) %>
  <%- include('./parts/_section-title--white',{title:'about us',text:'私たちについて'}) %>
  <%- include('./parts/_section-title--small',{title:'about us',text:'私たちについて'}) %>
  
  
  </body>
</html>

