<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
  <!-- ヘッダー -->
  <%- include('./common/_header') %>
  
  <!-- MV -->
  <%- include('./common/_sub-mv',{
    imgPc:' ./images/common/sub-news-mv.jpg ',
    imgSp:' ./images/common/sub-news-mv-sp.jpg ',
    alt:'サービス画像 ', 
    title:'news ', 
    subtitle:'お知らせ '
  }) %>
  
  <!-- パンくず -->
  <div class="sub-news-detail">
    <div class="inner">
      <div class="sub-news-datail__breadcrumb sub-breadcrumb">
        <%- include('./common/_breadcrumb', {
          navigationList: [
          {
            path: ' index.html ',
            label: 'ホーム'
          },
          {
            path: ' news.html ',
            label: 'ニュース'
          },
          {
            path: '  ',
            label: 'ニュース詳細'
          }
          ]
        }); %>
      </div><!-- /.inner -->
    </div><!-- /.sub-about__breadcrumb -->
      

    <div class="sub-news-detail___body">
      <div class="inner sub-news-detail__inner">

        <section class="sub-news-detail__top">
          <%- include('./parts/_news-detail') %>
          
        </section><!-- /.sub-news__top -->
        
        
        <aside class="sub-news-detail__aside">
          <%- include('./common/_news-aside') %>
        </aside><!-- /.sub-news__aside -->
      </div><!-- /.inner -->
      </div><!-- /.sub-news___body -->
      
    
    
    
    <!-- ダウンロード・コンタクト -->
<section class="download-contact">
  <%- include('./common/_footer-top') %>
</section><!-- /.download-contact -->

<!-- フッター -->
<%- include('./common/_footer') %>
  
  
  </body>
</html>

