<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
  <!-- ヘッダー -->
  <%- include('./common/_header') %>
  
  <!-- MV -->
  <%- include('./common/_sub-mv',{
    imgPc:' ./images/common/sub-service-mv.jpg ',
    imgSp:' ./images/common/sub-service-mv-sp.jpg ',
    alt:'サービス画像 ', 
    title:'service ', 
    subtitle:'サービス '
  }) %>
  
  <!-- パンくず -->
  <div class="sub-service">
    <div class="inner">
      <div class="sub-about__breadcrumb">
        <%- include('./common/_breadcrumb', {
          navigationList: [
          {
            path: ' index.html ',
            label: 'ホーム'
          },
          {
            path: ' リンクパス ',
            label: 'サービス'
          }
          ]
        }); %>
      </div><!-- /.inner -->
    </div><!-- /.sub-about__breadcrumb -->
      
    <section class="sub-service__top">
      <div class="inner">
        <h2 class="sub-service__top-title">世界で活躍できる<br> グローバルな人材を育てる<br class="u-sp">３つの研修プログラム</h2><!-- /.sub-service__top-title -->
        <div class="sub-service__top-body">
          <%- include('./parts/_sub-service-top') %>
        </div><!-- /.sub-service__top-body -->
      </div><!-- /.inner -->
    </section><!-- /.sub-service__top -->
   
    <section class="sub-service__flow">
      <div class="inner">
        <%- include('./parts/_sub-service-flow') %>
      </div><!-- /.inner -->
    </section><!-- /.sub-service__top -->

    <section class="sub-service__qa">
      <div class="inner">
        <h2 class="sub-service__qa-title">よくある質問</h2><!-- /.sub-service__qa-title -->
        <div class="sub-service__qa-block">
          <%- include('./parts/_sub-service-qa') %>
        </div><!-- /.sub-service__qa-block -->
      </div><!-- /.inner -->
    </section><!-- /.sub-service__top -->
   
   

<!-- ダウンロード・コンタクト -->
<section class="download-contact">
  <%- include('./common/_footer-top') %>
</section><!-- /.download-contact -->

<!-- フッター -->
<%- include('./common/_footer') %>
  
  </body>
</html>

